* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
}

form {
  align-items: center;
  background-color: orange;
  display: flex;
  flex-direction: column;
  height: 80vh;
  justify-content: space-evenly;
  margin: 20px;
  padding: 20px;
  width: 50%;
}

span {
  padding-right: 5px;
}

p {
  margin-right: 5px;
  width: 100%;
}

input {
  width: 95%;
}
